/node_modules
/public/hot
/public/uploads
/public/vendor
/public/storage
/public/public
/public/.htaccess
/public/favicon.ico
/public/index.php
/public/robots.txt
/storage/*.key
/vendor
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.vscode/settings.json
/bootstrap
/config
/Documentaiton
/documentation
/storage
/tests
.editorconfig
.env.example

