/node_modules
/public/hot
/public/uploads
/public/vendor
/public/storage
/storage/*.key
/vendor
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.vscode/settings.json
/bootstrap
/config
/Documentaiton
/documentation
/public
/storage
/tests
.editorconfig
.env.example

