/* Theme color */
$primary_color: #2c9ede;
$success_color1: #5AD2A0;
$success_btn: #2db354;
$orange-color: #ff7300;

$alpha_color: #56d4a5;
$beta_color: #fa4359;
$delta_color: #9944a7;
$eta_color: #475ce2;
$theta_color: #80a66c;


 /*texts*/
$black: #2d2d2d;
$gray: #606060;
$light: #929497;


 /*backgrounds*/
$bg-color1: #f1f7f7;
$bg-color2: #f9fafe;
$bg-color3: #fcfcfc;
$bg-color4: whitesmoke;
$bg-darkblue: #1e365c;


/*shadows*/

 /* buttons */
// $Button_Primary_gradient: linear-gradient(90deg,  #0385C6 0%, #199ADA 100%);
// $Primary_shadow: 0 4px 19px 0 rgba(0, 0, 0, .11), 0 7px 10px -6px rgba(100, 182, 247, 0.4);
// $Button_Secondary_gradient: linear-gradient(90deg, #37A43C 0%, #3EB543 100%);
// $Secondary_shadow: 0 4px 19px 0 rgba(0, 0, 0, .11), 0 7px 10px -6px rgba(100, 235, 110, 0.4);
// $Button_Secondary: #FFFFFF;
// $Default_shadow: 0 4px 19px 0 rgba(0, 0, 0, .094);
/* Typography */
// $Head: #0385C6;
// $BodyText: #3F3F3F;
// $BodyText2: #58676B;
// $LightText: #6D6B6B;
/* Alert */
// $Success_Color: #9ADB37;
// $Info_Color: #45CACF;
// $Warnings_Color: #E28D32;
// $Danger_Color: #FF525E;
/* Others */
/****** add colors ****/
